<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda</title>
    <link rel="stylesheet" href="./style/About_us.css">
    <link rel="stylesheet" href="./style/general.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"></script>
    
</head>
<body>
    <nav>       
        <input type="text" class="search-box" placeholder="Buscar..." />
        <button class="search-button">Buscar</button>
        <a href="./index.html">Inicio</a>
        <a href="./Contacto.html">Contacto</a>
        <select name="pais" id="pais">
            <option value="Matenimiento_preventivo">Mantenimiento preventivo</option>
            <option value="Matenimiento_colombia">Mantenimiento correctivo</option>
            <option value="Matenimiento_argentina">Mantenimiento evolutivo</option>
            <option value="Matenimiento_seguridad">Mantenimiento seguridad</option>
        </select>
        <a href="Login.html">Username</a>  
      </nav>
    <h1>Buscar empleado</h1>
    <form id="busqueda">
        <input type="search" name="busq" id="busq" placeholder="Introduce el departamento del empleado">
    </form>

    <div class="botones-container">
        <button id="down" disabled>Descargar</button>
        <a href="./Menu.html">
            <button class="regresar-btn">🔙 Regresar</button>
        </a>
    </div>
    <table id="salida">
        <tr>
            <th>ID_empleado</th>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>PDF</th>
        </tr>
    </table>
    <script>
        document.getElementById("busq").addEventListener("keyup", (e) => {
            e.preventDefault();
            // Recoge los datos del formulario
            const data = { b: document.getElementById('busq').value };
            console.log(data);
            document.getElementById('salida').innerHTML = `<tr>
                <th>ID_empleado</th>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>PDF</th>
            </tr>`;
            if (document.getElementById('busq').value != '') {
                fetch(`http://localhost:3000/api/empleados_departamentos2/${data.b}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la solicitud');
                    }
                    return response.json();
                })
                .then(data => {
                    generarAllPDF(data);
                    document.getElementById('down').disabled = false;
                    console.log(data);
                    const salida = document.getElementById('salida')
                    for(let i = 0; i < data.length; i++) {
                    salida.insertAdjacentHTML('beforeend', `<tr>
                        <td>${data[i].id_empleado}</td>
                        <td>${data[i].nombre}</td>
                        <td>${data[i].nombre_departamento}</td>
                        <td><button onclick="generarPDF(
                            {id_empleado:${data[i].id_empleado},
                            nombre: '${data[i].nombre}',
                            departamento: '${data[i].nombre_departamento}'}
                            )">Generar PDF</button></td>
                    </tr>`);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                document.getElementById('down').disabled = true;
            }
        });

        async function generarPDF(data) {
            const id_empleado = data.id_empleado;
            const nombre = data.nombre;
            const departamento = data.departamento;

            const pdfDoc = await PDFLib.PDFDocument.create();
            const page = pdfDoc.addPage([500, 700]);

            const blueColor = PDFLib.rgb(0, 0, 0);
            const boldFont = await pdfDoc.embedFont(PDFLib.StandardFonts.HelveticaBold);

            page.drawRectangle({ x: 0, y: 650, width: 500, height: 1, color: blueColor });
            page.drawText('Datos del empleado', { x: 180, y: 670, size: 12, font: boldFont });

            let x = 40;
            let y = 660;    

            y -= 40;
            page.drawText(`ID: ${id_empleado}`, { x, y, size: 12 });
            y -= 20;
            page.drawText(`Nombre: ${nombre}`, { x, y, size: 12 });
            y -= 20;
            page.drawText(`Departamento: ${departamento}`, { x, y, size: 12 });

            const pdfBytes = await pdfDoc.save();
            const blob = new Blob([pdfBytes], { type: "application/pdf" });
            const link = document.createElement("a");

            link.href = URL.createObjectURL(blob);
            link.download = `ReporteEmpleado_${id_empleado}.pdf`;
            link.click();
        }

        async function generarAllPDF(data) {
            
            const pdfDoc = await PDFLib.PDFDocument.create();
            const page = pdfDoc.addPage([500, 700]);
            
            const blueColor = PDFLib.rgb(0, 0, 0);
            const boldFont = await pdfDoc.embedFont(PDFLib.StandardFonts.HelveticaBold);
            
            page.drawRectangle({ x: 0, y: 650, width: 500, height: 1, color: blueColor });
            page.drawText('Datos del empleado', { x: 180, y: 670, size: 12, font: boldFont });
            
            let x = 40;
            let y = 660;    
            
            for(let i = 0; i <data.length; i++) {
                let id_empleado = data[i].id_empleado;
                let nombre = data[i].nombre;
                let departamento = data[i].nombre_departamento;
                y -= 40;
                page.drawText(`ID: ${id_empleado}`, { x, y, size: 12 });
                y -= 20;
                page.drawText(`Nombre: ${nombre}`, { x, y, size: 12 });
                y -= 20;
                page.drawText(`Departamento: ${departamento}`, { x, y, size: 12 });
            }
            const pdfBytes = await pdfDoc.save();
            const blob = new Blob([pdfBytes], { type: "application/pdf" });
            const link = document.createElement("a");

            link.href = URL.createObjectURL(blob);
            link.download = `ReporteEmpleado_${data[0].nombre_departamento}.pdf`;

            document.getElementById('down').onclick = function() {
                link.click();
            };
        }
        
    </script>
</body>
</html>
