<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechSupportMx</title>
    <link rel="stylesheet" href="style/main.css">
    <!-- Include the Dark theme -->
    <link rel="stylesheet" href="@sweetalert2/theme-dark/dark.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script src="./js/sesion.js"></script>
</head>
<body>
    <header class="menu">
        <div class="opc" onclick="window.top.location.href='./../index.html';">Home</div>
        <div class="opc" onclick="location.href = './SitioWeb.html'">New incidence</div>
        <div class="opc" onclick="location.href = './reporte_altas.html'">Check my incidences</div>
        <div class="opc" onclick="location.href = './About_us.html'">About us</div>
        <div id="usuario"><img src="./img/none.png" onclick="fetch('./api/logout').then(()=>{location.reload();})" alt="User"></div>
    </header>
   
    <iframe id="reloj-frame" title="Reloj" width="320" height="320"  src="./frames/reloj.html" frameborder="0"></iframe>

    <footer>© 2024 TechSuport Mx</footer>
</body>
</html>
