<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/About_us.css">
    <link rel="stylesheet" href="./style/navbar.css">
</head>
<body>
    <div class="hero">
        <img src="img\misurina-sunset.jpg" alt="Imagen de fondo">
    </div>
    
    <nav>
        <a href="./index.html">Inicio</a>
        <a href="./Contacto.html">Contacto</a>
        <select name="pais" id="pais">
            <option value="Matenimiento_preventivo">Mantenimiento preventivo</option>
            <option value="Matenimiento_colombia">Mantenimiento correctivo</option>
            <option value="Matenimiento_argentina">Mantenimiento evolutivo</option>
            <option value="Matenimiento_seguridad">Mantenimiento seguridad</option>
        </select>
        <a href="./consultas.html">Consultas</a>
        <a href="Login.html">Username</a>  
    </nav>
    

        
    <div class="Contenedor">
        <h1>Mantenimiento Seguridad</h1>
        <p>En techSupportMX, nos especializamos en ofrecer mantenimiento de seguridad para equipos de cómputo, asegurándonos de que tus sistemas estén siempre protegidos y funcionando al máximo rendimiento.</p>
    </div>
 
    <div class="Catalago">
        <h2>Paquete incluye:</h2>
    </div>
    
    <section class="Catalogo-seleccion">
        <div class="Catalogo-Servicio1">
            <img src="img/Mantenimiento_Seguridad/1.jpg" width="250" height="140" alt="Actualizaciones de software">
            <h3><a href="">Mantenimiento Preventivo</a></h3>
            <p>Revisión física y virtual de los equipos, incluyendo limpieza interna, actualización de drivers y sistema operativo, corrección de errores, y optimización del rendimiento.</p>
        </div>
        <div class="Catalogo-Servicio2">
            <img src="img/Mantenimiento_Seguridad/2.jpg" width="250" height="140" alt="Mejoras de Funcionalidad">
            <h3><a href="">Respaldo y recuperacion de datos</a></h3>
            <p>Configuración de copias de seguridad automáticas y seguras en la nube o en servidores locales.       </div>
        <div class="Catalogo-Servicio3">
            <img src="img/Mantenimiento_Seguridad/3.webp" width="250" height="140" alt="Integración de Nuevas Tecnologías">
            <h3><a href=""> Gestion de actualizaciones</h3>
                <p>Instalación de parches de seguridad y actualizaciones críticas para evitar vulnerabilidades.
                </p>
        </div>
        <div class="Catalogo-Servicio4">
            <img src="img/Mantenimiento_Seguridad/4.jpg" width="250" height="140" alt="Adaptación a Cambios del Mercados">
            <h3><a href="">Soporte tecnico especilizado</a></h3>
            <p>Asistencia remota y presencial en caso de fallos o incidentes de seguridad.</p>
        </div>
    </section>


</body>
</html>