<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/About_us.css">
</head>
<body>
    <div class="hero">
        <img src="img\misurina-sunset.jpg" alt="Imagen de fondo">
    </div>
    
    <nav>       
        <input type="text" class="search-box" placeholder="Buscar..." />
        <button class="search-button">Buscar</button>
        <a href="./index.html">Inicio</a>
        <a href="#contacto">Contacto</a>
        <select name="pais" id="pais">
            <option value="Matenimiento_preventivo">Mantenimiento preventivo</option>
            <option value="Matenimiento_correctivo">Mantenimiento correctivo</option>
            <option value="Matenimiento_argentina">Mantenimiento evolutivo</option>
            <option value="Matenimiento_seguridad">Mantenimiento seguridad</option>
        </select>
        <a href="Login.html">Username</a>  
    </nav>
    
    <div class="Imagen">
        <img src="img/LogoTechSupportMX.png" width="225" height="225" alt="Logo TechSupportMX">
    </div>
        
    <div class="Contenedor">
        <h1>Mantenimiento correctivo</h1>
        <p>Nuestro servicio de mantenimiento correctivo garantiza la rápida resolución de fallas en equipos, minimizando el tiempo de inactividad y asegurando un funcionamiento óptimo.</p>
    </div>
 
    <div class="Catalago">
        <h2>Paquete incluye:</h2>
    </div>
    
    <section class="Catalogo-seleccion">
        <div class="Catalogo-Servicio1">
            <img src="img/Mantenimiento_Correctivo/Reparacion_fallos.webp" width="250" height="140" alt="Reparación de fallos">
            <h3><a href="">Reparación de fallos</a></h3>
            <p>Solucionamos problemas críticos en los equipos que impiden su correcto funcionamiento, garantizando que todo vuelvan a funcionar con normalidad.</p>
        </div>
        <div class="Catalogo-Servicio2">
            <img src="img/Mantenimiento_Correctivo/Sustitucion_Componentes.webp" width="250" height="140" alt="Sustitución de componentes">
            <h3><a href="">Sustitución de componentes</a></h3>
            <p>Reemplazamos piezas dañadas o defectuosas para asegurar el óptimo rendimiento del hardware y evitar futuros inconvenientes.</p>
        </div>
        <div class="Catalogo-Servicio3">
            <img src="img/Mantenimiento_Correctivo/Error_Windows.png" width="250" height="140" alt="Corrección de errores de software">
            <h3><a href="">Corrección de errores de software</a></h3>
            <p>Identificamos y corregimos errores en el sistema operativo o aplicaciones que causen fallos en el rendimiento o en la seguridad.</p>
        </div>
        <div class="Catalogo-Servicio4">
            <img src="img/Mantenimiento_Correctivo/Recuperacion_Datos.jpg" width="250" height="140" alt="Recuperación de datos">
            <h3><a href="">Recuperación de datos</a></h3>
            <p>En caso de fallos graves del sistema, podemos ofrecer soluciones para recuperar información importante.</p>
        </div>
    </section>


</body>
</html>
