<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/About_us.css">
    <link rel="stylesheet" href="./style/navbar.css">
</head>
<body>
    <div class="hero">
        <img src="img\misurina-sunset.jpg" alt="Imagen de fondo">
    </div>
    
    <nav>
        <a href="./index.html">Inicio</a>
        <a href="./Contacto.html">Contacto</a>
        <select name="pais" id="pais">
            <option value="Matenimiento_preventivo">Mantenimiento preventivo</option>
            <option value="Matenimiento_colombia">Mantenimiento correctivo</option>
            <option value="Matenimiento_argentina">Mantenimiento evolutivo</option>
            <option value="Matenimiento_seguridad">Mantenimiento seguridad</option>
        </select>
        <a href="./consultas.html">Consultas</a>
        <a href="Login.html">Username</a>  
    </nav>
    

        
    <div class="Contenedor">
        <h1>Mantenimiento preventivo</h1>
        <p>Sabemos lo crucial que es para ti contar con un equipo de cómputo en perfectas condiciones, y por eso estamos aquí para ofrecerte nuestro servicio de Mantenimiento Preventivo.</p>
    </div>
 
    <div class="Catalago">
        <h2>Paquete incluye:</h2>
    </div>
    
    <section class="Catalogo-seleccion">
        <div class="Catalogo-Servicio1">
            <img src="img/Mantenimiento_Preventivo/LimpiezaExterna.jfif" width="250" height="140" alt="Limpieza externa">
            <h3><a href="">Limpieza externa</a></h3>
            <p>Mantenemos tus equipos libres de polvo y suciedad, asegurando un óptimo rendimiento y prolongando su vida útil.</p>
        </div>
        <div class="Catalogo-Servicio2">
            <img src="img/Mantenimiento_Preventivo/actualizaciones.jpg" width="250" height="140" alt="Actualizaciones de software">
            <h3><a href="">Actualizaciones</a></h3>
            <p>Nos encargamos de instalar las últimas versiones de software para mantener tus sistemas seguros y actualizados.</p>
        </div>
        <div class="Catalogo-Servicio3">
            <img src="img/Mantenimiento_Preventivo/Diagnosticos.jfif" width="250" height="140" alt="Diagnósticos de hardware">
            <h3><a href="">Diagnóstico de hardware</a></h3>
            <p>Realizamos una revisión completa de los componentes físicos para detectar y prevenir posibles fallos.</p>
        </div>
        <div class="Catalogo-Servicio4">
            <img src="img/Mantenimiento_Preventivo/Asesorias.webp" width="250" height="140" alt="Asesorías personalizadas">
            <h3><a href="">Asesorías personalizadas</a></h3>
            <p>Ofrecemos orientación especializada para optimizar el uso y mantenimiento de tus equipos tecnológicos.</p>
        </div>
    </section>


</body>
</html>
