<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/About_us.css">
    <link rel="stylesheet" href="./style/general.css">
    <title>Busqueda</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"></script>
    
</head>
<body>
    <nav>       
        <input type="text" class="search-box" placeholder="Buscar..." />
        <button class="search-button">Buscar</button>
        <a href="./index.html">Inicio</a>
        <a href="./Contacto.html">Contacto</a>
        <select name="pais" id="pais">
            <option value="Matenimiento_preventivo">Mantenimiento preventivo</option>
            <option value="Matenimiento_colombia">Mantenimiento correctivo</option>
            <option value="Matenimiento_argentina">Mantenimiento evolutivo</option>
            <option value="Matenimiento_seguridad">Mantenimiento seguridad</option>
        </select>
        <a href="Login.html">Username</a>  
      </nav>
    <h1>Modificar empleado</h1>
    <hr class="fuera">
    <form id="busqueda">
        <label for="busq">ID_empleado:</label>
        <input type="search" name="busq" id="busq" placeholder="Introduce el ID del empleado"><br>

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre del empleado"><br>

        <label for="apellido_p">Apellido paterno:</label>
        <input type="text" name="apellido_p" id="apellido_p" placeholder="Apellido paterno"><br>

        <label for="apellido_m">Apellido materno:</label>
        <input type="text" name="apellido_m" id="apellido_m" placeholder="Apellido materno"><br>

        <label for="id_departamento">ID departamento:</label>
        <input type="text" name="id_departamento" id="id_departamento" placeholder="ID del departamento">
    </form>

    <div class="botones-container">
        <button id="down" disabled>Modificar</button>
        <a href="./Menu.html">
            <button class="regresar-btn">
                🔙 Regresar
            </button>
        </a>
    </div>

    <script>
        document.getElementById("busq").addEventListener("keyup", (e) => {
            e.preventDefault();
            // Recoge los datos del formulario
            const data = { b: document.getElementById('busq').value};
            console.log(data);
            if (document.getElementById('busq').value != '') {
                fetch('./api/tabla_empleados', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la solicitud');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data[0]) {
                        console.log(data[0]);
                        document.getElementById('down').disabled = false;
                        document.getElementById('down').style = "color: #000077";    
                        //
                        document.getElementById('nombre').value = data[0].nombre;
                        document.getElementById('apellido_p').value = data[0].apellido_p;
                        document.getElementById('apellido_m').value = data[0].apellido_m;
                        document.getElementById('id_departamento').value = data[0].id_departamento;
                        document.getElementById('down').onclick = function () {
                            actualizar();  
                        }
                    } else {
                        document.getElementById('nombre').value = "";
                        document.getElementById('apellido_p').value = "";
                        document.getElementById('apellido_m').value = "";
                        document.getElementById('id_departamento').value = "";
                        document.getElementById('down').disabled = true;
                        document.getElementById('down').style = "color: #777777";
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            } else {
                document.getElementById('nombre').value = "";
                document.getElementById('apellido_p').value = "";
                document.getElementById('apellido_m').value = "";
                document.getElementById('id_departamento').value = "";
                document.getElementById('down').disabled = true;
                document.getElementById('down').style = "color: #777777";
            }
        });

        async function actualizar() {
            const data = {
                id_empleado: document.getElementById('busq').value, 
                nombre: document.getElementById('nombre').value,
                apellido_p: document.getElementById('apellido_p').value,
                apellido_m: document.getElementById('apellido_m').value,
                id_departamento: document.getElementById('id_departamento').value
            };

            fetch('./api/actualiza_empleados', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error en la solicitud');
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
