<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="./style/Contacto.css">
</head>
<body>
    <!-- Barra de navegación -->
    <div class="navbar">
        <div class="logo">
            <img src="img/LogoTechSupportMX.png" alt="Logo">
        </div>
        <div class="menu">
            <!-- Contenedor de búsqueda -->
    <div class="search-container">
    <input type="text" placeholder="Search report...">
    <button class="search-btn">Search</button>
    </div>
            <a href="./index.html">Inicio</a>
            <a href="./Contacto.html">Contacto</a>
            <div class="dropdown">
                <a href="#">Servicios</a>
                <div class="dropdown-content">
                    <a href="Mantenimiento_Preventivo.html">Mantenimiento preventivo</a>
                    <a href="Mantenimiento_Correctivo.html">Mantenimiento correctivo</a>
                    <a href="Mantenimiento_Evolutivo.html">Mantenimiento evolutivo</a>
                    <a href="MantenimientoSeguridad.html">Mantenimiento de seguridad</a>
                </div>
            </div>
            <div class="user-profile">
                <img src="https://via.placeholder.com/30" alt="User Avatar">
                <a href="Login.html">Username</a>
            </div>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="main-content">
        <!-- Mapa -->
        <div class="map-container">
            <h2>Contacto</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.173584570716!2d-98.19279468952134!3d19.012071182105007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc09c9e9b4e4b%3A0x10efcd3051fad88b!2sMamitas%20Club%20Puebla!5e0!3m2!1ses-419!2smx!4v1729747601715!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- Información de contacto -->
        <div class="contact-info">
            <h3>Datos de contacto</h3>
            <div>
                <img src="https://via.placeholder.com/30" alt="Icono dirección">
                
                <span>Dirección empresa</span>
            </div>
            <div class="contact-info-item">
                <span>Cto Juan Pablo II 2457, La Hacienda, 72570 Heroica Puebla de Zaragoza, Pue.</span>
            </div>
            <div>
                <img src="https://via.placeholder.com/30" alt="Icono teléfono">
                <span>Teléfono empresa</span>
            </div>
            <div class="contact-info-item">
                <span>+56 22 222 22 22</span>
            </div>
            <div>
                <img src="https://via.placeholder.com/30" alt="Icono correo">
                <span>Correo electrónico empresa</span>
            </div>
            <div class="contact-info-item">
                <span>info@techsupportmx.com</span>
        </div>
    </div>

</body>
</html>

