<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loggin</title>
    <link rel="stylesheet" href="style/LoginCSS.css"> <!-- Ruta corregida -->

</head>
<body>
    <div class="hero">
        <img src="img\FondoLoggin.jpg" alt="Imagen de fondo">
    </div>

    <div class="Formulario">
        <h1>TechSupportMX</h1>
        <h3>Ingresa Sesion</h3>
        <div class="Registrarse">
            <p>¿No tiene una cuenta? <b><a href="Registro.html">Click aqui</a></b></p>
        </div>
        <form method="post" action="./index.html">
            <div class="Username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="Username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <input type="submit" value="Iniciar">
            <div class="Registrarse">
                No recuerdo la contraseña. <a href="">Recuperar ahora</a>
            </div>
        </form>
    </div>
</body>
</html>
