<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/About_us.css">
</head>
<body>
    <div class="hero">
        <img src="img\misurina-sunset.jpg" alt="Imagen de fondo">
    </div>
    
    <nav>       
        <input type="text" class="search-box" placeholder="Buscar..." />
        <button class="search-button">Buscar</button>
        <a href="./index.html">Inicio</a>
        <a href="#contacto">Contacto</a>
        <select name="pais" id="pais">
            <option value="Matenimiento_preventivo">Mantenimiento preventivo</option>
            <option value="Matenimiento_correctivo">Mantenimiento correctivo</option>
            <option value="Matenimiento_argentina">Mantenimiento evolutivo</option>
            <option value="Matenimiento_seguridad">Mantenimiento seguridad</option>
        </select>
        <a href="Login.html">Username</a>  
    </nav>
    
    <div class="Imagen">
        <img src="img/LogoTechSupportMX.png" width="225" height="225" alt="Logo TechSupportMX">
    </div>
        
    <div class="Contenedor">
        <h1>Mantenimiento Evolutivo</h1>
        <p>Con nuestro mantenimiento evolutivo nos enfocamos en mejorar y adaptar tus sistemas y equipos tecnológicos para satisfacer las cambiantes necesidades y garantizar seguir siendo competentes.</p>
    </div>
 
    <div class="Catalago">
        <h2>Paquete incluye:</h2>
    </div>
    
    <section class="Catalogo-seleccion">
        <div class="Catalogo-Servicio1">
            <img src="img/Mantenimiento_Evolutivo/Actualizaciones_Evolutivo.webp" width="250" height="140" alt="Actualizaciones de software">
            <h3><a href="">Actualizaciones de software</a></h3>
            <p>Implementamos las últimas versiones de software y parches de seguridad para asegurar que los sistemas funcionen de manera eficiente y segura.</p>
        </div>
        <div class="Catalogo-Servicio2">
            <img src="img/Mantenimiento_Evolutivo/Mejoras.jpg" width="250" height="140" alt="Mejoras de Funcionalidad">
            <h3><a href="">Mejoras de Funcionalidad</a></h3>
            <p>Evaluamos las necesidades proponemos mejoras para agregar nuevas funciones u optimizar las existentes.</p>
        </div>
        <div class="Catalogo-Servicio3">
            <img src="img/Mantenimiento_Evolutivo/Nuevas_Tecnologias.jfif" width="250" height="140" alt="Integración de Nuevas Tecnologías">
            <h3><a href="">Integración de Nuevas Tecnologías</a></h3>
                <p>Incorporamos tecnologías emergentes y soluciones innovadoras para mantenernos a la vanguardia y aprovechar al máximo la infraestructura tecnológica.</p>
        </div>
        <div class="Catalogo-Servicio4">
            <img src="img/Mantenimiento_Evolutivo/Cambios_Mercado.jpg" width="250" height="140" alt="Adaptación a Cambios del Mercados">
            <h3><a href="">Adaptación a Cambios del Mercado</a></h3>
            <p> Monitoreamos las tendencias del mercado y ajustamos los sistemas y procesos para responder a las demandas cambiantes y mejorar la competitividad.</p>
        </div>
    </section>


</body>
</html>
