<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="">
    <title>Busqueda</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"></script>
    <style>
        h1{
            text-align: center;
        }

        #busqueda{
            border-style: solid;
            width: 50%;
            margin-left: 25%;
        }

        #busqueda input {
            border-width: 0px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            padding-left: 1%;
            padding-right: 1%;
            margin-top: 1%;
            margin-bottom: 1%;
        }
        label {
            font-size: small;
            color: #555555;
            margin-left: 22%;
            margin-top: 10px;
            margin-bottom: 10px; 
        }
        button {
            border-radius: 12px;
            padding: 1%;
            margin-left: 44%;
        }
        .fuera {
            width: 45%;
            border-color: #555555;
        }
        hr{
            border-color: #555555;
        }
        
    </style>
</head>
<body>
    <h1>Modificar empleado</h1>
    <hr class="fuera"><br>
    <form id="busqueda">
        <label for="busq">ID_empleado: </label>
        <input type="search" name="busq" id="busq"><br>
        <br><hr><br>
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre"><br><br>
        <label for="apellido_p">Apellido paterno: </label>
        <input type="text" name="apellido_p" id="apellido_p"><br><br>
        <label for="apellido_m">Apellido materno: </label>
        <input type="text" name="apellido_m" id="apellido_m"><br><br>
        <label for="id_departamento">Id departamento: </label>
        <input type="text" name="id_departamento" id="id_departamento">
    </form>
    <br><br>
    <button id="down" disabled>Modificar</button>
    <br><br>
    <a href="./Menu.html"><button>
        🔙
        Regresar
    </button></a>
    <script>
        document.getElementById("busq").addEventListener("keyup", (e) => {
            e.preventDefault();
            // Recoge los datos del formulario
            const data = { b: document.getElementById('busq').value};
            console.log(data);
            if (document.getElementById('busq').value != ''){
                fetch('http://localhost:3000/api/tabla_empleados', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                if (!response.ok) {
                    throw new Error('Error en la solicitud');
                }
                return response.json();
                })
                .then(data => {
                if (data[0]){
                    console.log(data[0]);
                    document.getElementById('down').disabled = false;
                    document.getElementById('down').style = "color: #000077";    
                    //
                    document.getElementById('nombre').value = data[0].nombre;
                    document.getElementById('apellido_p').value = data[0].apellido_p;
                    document.getElementById('apellido_m').value = data[0].apellido_m;
                    document.getElementById('id_departamento').value = data[0].id_departamento;
                    document.getElementById('down').onclick = function () {
                        actualizar();  
                    }
                }else{
                    document.getElementById('nombre').value = "";
                    document.getElementById('apellido_p').value = "";
                    document.getElementById('apellido_m').value = "";
                    document.getElementById('id_departamento').value = "";
                    document.getElementById('down').disabled = true;
                    document.getElementById('down').style = "color: #777777";
                }
                })
                .catch(error => {
                console.error('Error:', error);
                });

            }else{
                document.getElementById('nombre').value = "";
                document.getElementById('apellido_p').value = "";
                document.getElementById('apellido_m').value = "";
                document.getElementById('id_departamento').value = "";
                document.getElementById('down').disabled = true;
                document.getElementById('down').style = "color: #777777";
            }
        });

        /*{
    "id_empleado": 1,
    "nombre": "Luis Abraham",
    "apellido_p": "Vargas",
    "apellido_m": "Hernandez",
    "id_departamento": 1
}*/
    async function actualizar() {

        const data = {
            id_empleado: document.getElementById('busq').value, 
            nombre: document.getElementById('nombre').value,
            apellido_p: document.getElementById('apellido_p').value,
            apellido_m: document.getElementById('apellido_m').value,
            id_departamento: document.getElementById('id_departamento').value
        };
        fetch('http://localhost:3000/api/actualiza_empleados', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                if (!response.ok) {
                    throw new Error('Error en la solicitud');
                }
                return response.json();
                })
                .then(data => {
                    console.log(data);
                    
                })
                .catch(error => {
                console.error('Error:', error);
                });
    }
    </script>
</body>
</html>