<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/LoginCSS.css">
</head>
<body>

    <div class="hero">
        <img src="./img/FondoLoggin.jpg" alt="Imagen de fondo">
    </div>
    <div class="Formulario">
        <br><br>
            <h1>TechSupportMX</h1>
            <h3>Registrar cuenta</h3>
          

        <form metodo="post">

            <div class="Username">
                <input type="text" required>
                <label >Nombre</label>
            </div>

            <div class="Username">
                <input type="text" required>
                <label>Email</label>
            </div>

            <div class="Username">
                <input type="text" required>
                <label>Contraseña nuevamente</label>
            </div>
            <div class="Username">
                <input type="text" required>
                <label>Contraseña nuevamente</label>

            </div>
            
            <input type="submit" value="Crear cuenta">
            

        </form>
        
    
    </div>




</body>
</html>